<div class="login-container">
    <div class="login-form-container">
      <div>
        <h2 class="login-header">
          Sign in to your account
        </h2>
        <p class="login-subtext">
          Or
          <a routerLink="/register" class="register-link">
            create a new account
          </a>
        </p>
      </div>

      <div class="login-button-container">
        <button (click)="login()" class="btn btn-login">
          <span class="material-icons">lock</span>
          Login with Keycloak
        </button>
      </div>

      <div class="divider-container">
        <div class="divider-line">
          <div class="divider"></div>
        </div>
        <div class="divider-text">
          <span class="divider-label">
            Protected by Keycloak
          </span>
        </div>
      </div>
    </div>
  </div>
