<div class="register-container">
    <div class="register-form-container">
      <div>
        <h2 class="register-header">
          Create your account
        </h2>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <div class="form-fields">
          <div>
            <input
              formControlName="email"
              type="email"
              required
              class="input-field input-field-top"
              placeholder="Email address"
            />
          </div>
          <div>
            <input
              formControlName="password"
              type="password"
              required
              class="input-field input-field-bottom"
              placeholder="Password"
            />
          </div>
        </div>

        <div>
          <button
            type="submit"
            [disabled]="!registerForm.valid"
            class="submit-button"
          >
            Register
          </button>
        </div>
      </form>
    </div>
  </div>