<main class="main-container">
  @if (loading$ | async) {
    <div class="loading-container">
      <div class="loading-spinner"></div>
    </div>
  }

  @if (errorMessage) {
    <div class="error-message">
      <span>{{errorMessage}}</span>
    </div>
  }

  <div class="page-content">
    <div class="header-container">
      <h1 class="page-title">Products ({{ products.length }})</h1>
      @if (isAuthenticated) {
        <button class="create-product-btn"
                (click)="goToCreateProductPage()">
          Create Product
        </button>
      }
    </div>
    @if (products.length > 0) {
      @if (orderSuccess) {
        <h4 class="success-message">Order Placed Successfully</h4>
      } @else if (orderFailed) {
        <h4 class="failure-message">Order Failed, please try again later</h4>
        @if(quantityIsNull) {
          <h4 class="failure-message">Quantity cannot be null</h4>
        }
      }
      <ul>
        @for (product of products; track product.id) {
          <div class="product-card">
            <h3 class="product-title">{{product.name}}</h3>
            <p class="product-description">{{product.description}}</p>
            <p class="product-price">${{product.price}}</p>
            @if (product.categoryName) {
              <p class="product-category">Category: {{product.categoryName}}</p>
            }
            @if (isAuthenticated) {
              <div class="product-actions">
                <select [(ngModel)]="selectedPaymentMethod"
                        class="product-select">
                  <option [value]="PaymentMethod.CREDIT_CARD">Credit Card</option>
                  <option [value]="PaymentMethod.PAYPAL">PayPal</option>
                  <option [value]="PaymentMethod.VISA">Visa</option>
                  <option [value]="PaymentMethod.MASTER_CARD">Master Card</option>
                  <option [value]="PaymentMethod.BITCOIN">Bitcoin</option>
                </select>

                <input type="number"
                       #quantityInput
                       class="quantity-input"
                       placeholder="Quantity"
                       min="1"/>

                <button (click)="orderProduct(product, quantityInput.value)"
                        class="order-button"
                        [disabled]="loading$ | async">
                  {{ (loading$ | async) ? 'Processing...' : 'Order Now' }}
                </button>
              </div>
            }
          </div>
        }
      </ul>
    } @else if (products.length === 100) {
      <span class="load-more">
      Click <a class="load-more-link">Load More</a> to see more products
    </span>
    } @else {
      <p class="no-products">No products found!</p>
    }
  </div>
</main>